<!DOCTYPE html>
<html>
  <head>
    <title>ONF Movies</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/app.css" />
  </head>
  <body>
    <header>
      <h1>ONF Movies</h1>
    </header>
    <nav>
      <ul>
        <li><a href="main.html">Home</a></li>
        <li><a href="new-movie.html">New Movie</a></li>
      </ul>
    </nav>
    <section>
      <h2>Monty Python&#39;s Life of Brian</h2>
      <div id="movie-details">
        <div id="movie-poster">
          <img src="static/movie-poster-9.jpg" height="100px" />
        </div>
        <ul id="movie-meta">
          <li><strong>Release Year:</strong> 1979</li>
          <li><strong>Genre:</strong>, Comedy</li>
          <li><strong>Rating:</strong>, 6/6</li>
        </ul>
      </div>
      <table id="credits">
        <tr>
          <th>Name</th>
          <th>Role</th>
        </tr>
        <tr>
          <td>Graham Chapman</td>
          <td>Actor</td>
        </tr>
        <tr>
          <td>John Cleese</td>
          <td>Actor</td>
        </tr>
        <tr>
          <td>Eric Idle</td>
          <td>Actor</td>
        </tr>
        <tr>
          <td>Terry Gilliam</td>
          <td>Actor</td>
        </tr>
        <tr>
          <td>Terry Jones</td>
          <td>Actor</td>
        </tr>
        <tr>
          <td>Michael Palin</td>
          <td>Actor</td>
        </tr>
        <tr>
          <td>Terry Jones</td>
          <td>Director</td>
        </tr>
        <tr>
          <td>John Goldstone</td>
          <td>Producer</td>
        </tr>
      </table>
      <p><a href="edit-movie.html">Edit</a></p>
    </section>
  </body>
</html>
