#chat-toggle {
  position: fixed;
  bottom: var(--space-xl);
  right: var(--space-xl);
  padding: var(--space-md);
  border-radius: 50%;
  background-color: var(--accent-red);
}
#chat-toggle:hover {
  background-color: var(--hover-red);
}
/* the dialog modal*/
#chatbot {
  position: fixed;
  top: 68px;
  left: 0;
  max-height: calc(100vh - 68px);
  max-width: 100vw;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  @media (min-width: 769px) {
    border-radius: var(--space-md);
    border: 0;
    max-width: 508px;
    max-height: 716px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#chatbot::backdrop {
  background-color: transparent;
}
/*container for the chat-box*/
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--space-md);
}
.chatbot-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: var(--color-text);
  cursor: pointer;
  padding: 5px;
  line-height: 1;
  z-index: 10;
}
/*messages container*/
#chatBox {
  display: flex;
  flex-direction: column; /* stack messages bottom-up */
  overflow-y: auto; /* enable vertical scrolling */
  overflow-x: hidden;
  flex: 1;
}

/* “Spacer” that sits above every real message and grows,
   forcing the real messages against the bottom of #chatBox */
#chatBox::before {
  content: "";
  flex: 1 1 auto;
}

.chat-input {
  margin-top: 15px;
  display: flex;
  align-items: center;
  border-radius: var(--space-md);
}

.chat-input #userInput {
  padding: 15px;
  flex: 1;
  border-radius: var(--space-md);
  background-color: var(--light-blue);
  border: 0;
  outline-color: var(--light-blue);
}

.chat-input button {
  margin-left: 15px;
  width: 60px;
  height: 44px;
  border-radius: var(--space-md);
  color: var(--white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-red);
}

.chat-input button:hover {
  background-color: var(--hover-red);
}

.msg-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-md);
}

.msg-container.chat-bot {
  justify-content: flex-start;
}

.msg-container.chat-bot .chat-bubble {
  background-color: var(--beige);
}

.msg-container.chat-user {
  justify-content: flex-end;
}

.msg-container.chat-user .chat-bubble {
  background-color: var(--light-blue);
}

.chat-label {
  font-family: var(--font-logo);
  font-size: var(--fs-body);
  margin-right: 12px;
}

.chat-bubble {
  padding: 10px;
  border-radius: var(--space-md);
}

.chat-bubble.thinking {
  padding: 10px 20px;
}
