.popular-produce {
  background-color: var(--white);
  box-sizing: border-box;
  padding: var(--space-xxl) var(--space-xl);
}

.popular-produce h2 {
  font-family: var(--font-sans);
  font-size: var(--fs-subheading);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: var(--space-lg);
  text-align: left;
}

.produce-slide {
  .produce-card {
    .image-wrapper {
      img {
        aspect-ratio: 250/321;
        object-fit: cover;
        border-radius: var(--space-sm);
        @media (min-width: 769px) {
          aspect-ratio: 454/432;
        }
      }
    }
  }
}

/* DESKTOP: grid layout */
@media (min-width: 769px) {
  .produce-slide {
  }
}
