/* Shop & Ask Section */
.shop-ask-container {
  display: flex;
  flex-direction: column;
  padding-inline: var(--space-md); /* 16px*/
  box-sizing: border-box;
  background-color: var(--white);
}

.shop-ask-container .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.shop-ask-container .column h2 {
  font-family: var(--font-sans);
  font-size: var(--fs-subheading); /*24 px*/
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: var(--space-xxl); /* 90px top */
  margin-bottom: var(--space-sm);
}

.shop-ask-container .column p {
  font-family: var(--font-logo);
  font-weight: 300;
  font-size: var(--fs-body); /* 16px */
  text-align: center;
  margin-bottom: var(--space-xl); /* 45px */
}

.shop-ask-container .column img {
  width: 359px;
  height: 250px;
  border-radius: var(--space-lg);
  margin-bottom: var(--space-xl); /* 45px */

  object-fit: cover;
}

.shop-ask-container .column button {
  width: 100%;
  max-width: 320px;
  height: 45px;
  background-color: var(--accent-red); /* red */
  color: var(--white);
  font-family: var(--font-sans);
  font-size: var(--fs-body); /* 16px */
  border-radius: var(--space-sm);
  cursor: pointer;
  margin-bottom: var(--space-xxl);
}

.shop-ask-container .column button:hover {
  background-color: var(--hover-red); /* darker red */
}

/* Divider: horizontal on mobile */
#shop-ask-divider {
  max-width: 100vw;
  height: 2px;
  background-color: var(--color-text);
}

/* Desktop: two-column layout */
@media (min-width: 769px) {
  .shop-ask-container {
    flex-direction: row !important;
    flex-wrap: nowrap;
    max-width: 1512px;
  }

  .shop-ask-container .column {
    width: 756px;
  }

  .shop-ask-container .column h2 {
    font-size: var(--fs-heading);
  }

  .shop-ask-container .column p {
    font-size: var(--fs-body-lg); /* 20px */
  }

  .shop-ask-container .column img {
    width: 448px;
    height: 327px;
    border-radius: var(--space-lg);
    margin-bottom: var(--space-lg);
    object-fit: cover;
  }

  /* make the divider vertical */
  #shop-ask-divider {
    width: 2px;
    height: auto;
    align-self: stretch;
    margin-inline: var(--space-xl); /* 45px left & right */
    background-color: var(--color-text);
  }
}
