/* Shop & Ask Section */
.shop-ask-container {
 display: flex;
  flex-direction: column;
  gap: var(--space-xxl);          /* 90px between each column */
  padding-inline: var(--space-md);
  box-sizing: border-box;
}

.shop-ask-container .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.shop-ask-container .column h2 {
  font-family: var(--font-sans);
  font-size: var(--fs-heading); /*36 px*/
  line-height: var(--lh-heading);
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: 48px;
  margin-bottom: var(--space-lg);
}

.shop-ask-container .column p {
  font-family: var(--font-logo);
  font-weight: 300;
  font-size: var(fs-body-lg);
  text-align: center;
  margin-bottom: var(--space-lg);
}

.shop-ask-container .column img {
  width: 100%;
  max-width: 448px;
  max-height: 250px;
  border-radius: var(--space-lg);
  margin-bottom: var(--space-lg);
  object-fit: cover;
}

.shop-ask-container .column button {
  width: 100%;
  max-width: 320px;
  height: 45px;
  background-color: var(--accent-red); /* red */
  color: var(--white);
  font-family: var(--font-sans);
  font-size: var(--fs-body); /* 16px */
  border-radius: var(--space-md);
  cursor: pointer;
  margin-bottom: var(--space-xxl); /* 90px below button */
}

.shop-ask-container .column button:hover {
  background-color: var(--hover-red); /* darker red */
}

/* Divider: horizontal on mobile */
#shop-ask-divider {
  width: 100vh;
  height: 2px;
  background-color: var(--color-text);
  
}

/* DESKTOP: two columns, borders and spacing */
/* Desktop: two-column layout */
@media (min-width: 768px) {
  .shop-ask-container {
    flex-direction: row !important;    
    flex-wrap: nowrap;
    max-width: 1512px;
    margin: 0 auto;
    gap: 0;                            
  }

  .shop-ask-container .column {
    width: 756px;                      
    text-align: left;
  }

  /* make the divider vertical */
  #shop-ask-divider {
    width: 2px;
    height: auto;
    align-self: stretch;
    margin-inline: var(--space-xl);    /* 45px left & right */
    background-color: var(--color-text);
  }
}

  