<!DOCTYPE html>
<html>
  <head>
    <title>ONF Movies</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/app.css" />
  </head>
  <body>
    <header>
      <h1>ONF Movies</h1>
    </header>
    <nav>
      <ul>
        <li><a href="main.html">Home</a></li>
        <li><a href="new-movie.html">New Movie</a></li>
      </ul>
    </nav>
    <div class="container">
      {# Add this wrapper #}
      <section>{% block content %}{% endblock %}</section>
    </div>
    {# Close the wrapper #}
  </body>
</html>
